#blog-title
{
    font-style: italic;
}

#accueil
{
    font-size: 50px;
    font-weight: bold;
}

.btn-sm
{
    height: 0.8rem;   
}

.btn-font
{
    font-size: 10px;
    line-height: 3px;
}

.separator
{
    margin-top: 0px;
    margin-bottom: 10px;
}

.sec-title
{
    color: #4e4e4e;
    font-style: italic;
}

.invisible
{
    visibility: hidden;
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.post {}

.ortolan {}

.swagg {}

.jl {}